.git
.gitignore
.github
.dockerignore
.env
.env.*
*.pyc
__pycache__
.pytest_cache
.coverage
htmlcov
staticfiles
node_modules
*.md
.venv
venv
.vscode
.idea
tests
vidalys_pay_documentacao_final
docker-compose*.yml
pyproject.toml
uv.lock
requirements-dev.txt
